<form method="POST" action="/new">
  <p>Form</p>
  <label for="messageText">Text:</label>
  <br />
  <textarea
    name="messageText"
    id="messageText"
    oninput="this.style.height = ''; this.style.height = this.scrollHeight + 'px';"
  ></textarea>
  <br />
  <label for="messageUser">Author: </label>
  <br />
  <input type="text" name="messageUser" id="messageUser" />
  <br />
  <button type="submit">Submit</button>
</form>
